<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= list.listName %></title>
</head>
<body>
  <%- include('./../partials/_navbar.ejs') %>
  <h1><%= list.listName %></h1>
  
  <form action="/lists/delete-selected/<%= list._id %>?_method=DELETE" method="POST"> 
    <ol>
      <% list.books.forEach(book => { %>
        <li>
          <%= book.bookName %> by <%= book.author %> (Status: <%= book.status %>)
          <input type="checkbox" name="bookIds[]" value="<%= book._id %>"> 
        </li>
      <% }) %>
    </ol>
    <button type="submit">Delete Selected Books</button>
  </form>
  
  <hr>
  <h2>Books You May Like to Add</h2>
  <form action="/lists/<%= list.listName %>/add-books" method="POST">
    <ol>
      <% books.forEach(book => { %>
        <li>
          <h3><%= book.bookName %></h3>
          <p>Author: <%= book.author %></p>
          <input type="checkbox" name="bookIds" value="<%= book._id %>">
        </li>
      <% }) %>
    </ol>
    <button type="submit">Add Selected Books</button>
  </form>

  <hr>
  <form action="/lists/delete/<%= list._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete List</button>
  </form>
</body>
</html>
